@import "./variables/variables";

// ***** Components ***** //

// Layout
// @import "./components/layout/layout";

// Navigation
// @import "./components/navigation/menu";

// Data Display
@import "./components/data-display/tabs";
@import "./components/data-display/tree";

// Data Entry
@import "./components/data-entry/form";

// Feedback
@import "./components/feedback/modal";

// ***** Template ***** //

@import "./template/app";
@import "./template/side-nav";
@import "./template/content";
@import "./template/logo";

// ***** Vendors ***** //
@import "./vendors/ag-grid";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
